# Dependencies
node_modules
bun.lockb
package-lock.json
yarn.lock

# Build output
.nuxt
.output
dist
.vercel
.netlify

# Cache
.cache
.temp

# Logs
*.log

# OS
.DS_Store
Thumbs.db

# IDE
.vscode
.idea
