<a class="instagram" href="https://instagram.com/filipecrespodev" target="_blank"><i class="fa fa-instagram"></i></a>
<a class="twitter" href="https://twitter.com/filipecrespodev" target="_blank"><i class="fa fa-twitter"></i></a>
<a class="twitch" href="https://twitch.com/filipecrespodev" target="_blank"><i class="fa fa-twitch"></i></a>
<a class="github" href="http://github.com/filipecrespodev" target="_blank"><i class="fa fa-github"></i></a>
<a class="linkedin" href="https://in.linkedin.com/in/filipescrespo" target="_blank"><i class="fa fa-linkedin"></i></a>
<a class="facebook" href="https://facebook.com/filipecrespodev" target="_blank"><i class="fa fa-facebook"></i></a>