

.body {
  padding: 3px;
}

.navbar-border {
  border: solid 3px #fff;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.aside-border {
  border-right: solid 3px #fff;
}

.container-border {
  border-left: solid 3px #fff;
  border-right: solid 3px #fff;
}