body {
  font-family: Roboto Mono,monospace;
  color: #fff
}

.navbar-border {
  background-color: $backgroud_less_dark;
  border: #fff solid 3px ;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  height: 88px;
}

.aside-border {
  border-right: #fff solid 3px ;
  border-bottom: #fff solid 3px ;
  border-bottom-left-radius: 10px;
  background-color: $backgroud_less_dark;
}

.content-border {
  border-bottom: #fff solid 3px ;
  border-bottom-right-radius: 10px;
  background-color: $backgroud_dark;
  // border-color: $backgroud_dark;
}

.about p {
  font-size: 12px;
}

.container-border {
  // border-left: #fff solid 3px ;
  // border-right: #fff solid 3px ;
  // border-bottom: #fff solid 3px;
  // border-bottom-left-radius: 50px;
  // border-bottom-right-radius: 50px;
}

.navbar-menu a{
  padding: 10px;
  border-right: #fff solid;
  color: #fff;
  text-decoration: none;
}

.navbar-menu a:hover{
  background-color: #fff;
  color: #000;
}

.navbar-menu a:last-child {
  border-right: none;
}

.navbar-menu {
  border: #fff solid;
  border-radius: 10px;
  // border-right: 0px;
}

.navbar-social{
  float: right;
}

.navbar-social a{
  // color: #fff;
  // border: #fff solid;
  // border-radius: 10px;
  font-size: 15px;
  padding: 10px;
  // margin: 0 5px 0 0;
}

a {
  display: inline-block;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
  text-decoration: underline;
}

// Article

.article-border {
  border: #fff solid;
  border-bottom: #fff solid 6px;
  border-right: #fff solid 6px;
  border-radius: 10px;
}

.article-title {
  border: #fff solid;
  border-top-width: 0px;
  border-left-width: 0px;
  border-right-width: 0px;
  text-decoration: none;
  margin-top: 5px;
  margin-bottom: 5px;
}

.article-title a{
  text-decoration: none;
  color: #fff
}

// Footer

.footer-social{
  text-align: center;
}

.footer-social ul{
  list-style: none;
}

.footer-social ul li{
  display: inline-block;
}

.footer-social ul li a{
  text-decoration: none;
  color: #fff
}

// main

.about-picture {
  background-color: #333030;
  margin: 0 auto 10px;
  -webkit-border-radius: 100%;
  border-radius: 100%;
  width: 150px;
  height: 150px;
  overflow: hidden;
}

.about-picture img{
  width: 150px;
  height: 150px;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  -webkit-transition: -webkit-transform 0.35s;
  transition: -webkit-transform 0.35s;
  -o-transition: transform 0.35s;
  transition: transform 0.35s;
  transition: transform 0.35s, -webkit-transform 0.35s;
}

.about-picture img:hover{
  transform: scale3d(0.9, 0.9, 1);
  -webkit-transform: scale3d(0.9, 0.9, 1);
}

.about a{
  text-decoration: none;
  color: #fff;
}

.twitter {
  color: $color_twitter;
}

.facebook {
  color: $color_facebook;
}

.github {
  color: $color_github;
}

.linkedin {
  color: $color_linkedin;
}

.twitch {
  color: $color_twitch;
}

.instagram {
  color: $color_instagram;
}

.lear_more {
  border: #fff solid;
  margin: 20px 0px;
  background-color: transparent;
  border-radius: 10px;
  padding: 10px;
  color: #fff;
}

.date {
   color: #f59999;
}

footer a {
  padding: 5px;
}

.key_color {
  color: $color_facebook;
}

.value_color {
  color: $color_twitch;
}

