

// Fonts
$font: Roboto Mono,monospace;

// Colors
$background_dark: #181818;
$background_dark_secondary: #212121;

$color_twitter: #1da1f2;
$color_facebook: #1877f2;
$color_github: #bdbfc0;
$color_linkedin: #007bb5;
$color_twitch: #9146ff;
$color_youtube: #ff0000;
$color_instagram: #c32aa3;
$color_discord: #7289da;