<!DOCTYPE html>
<html lang="{{site.lang}}">
{% include head.html %}

<body>
  <nav class="navbar navbar-expand-md navbar-border sticky-top">
    <div class="container-fluid">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample05" aria-controls="navbarsExample05" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div>
        <div class="collapse navbar-collapse navbar-menu" id="navbarsExample05">
          <a class="" aria-current="page" href="/">Home</a>
          <!-- <a class="" aria-current="page" href="/about">Sobre</a> -->
          <a class="" aria-current="page" href="/talks">Palestras</a>
          <!-- <a class="" aria-current="page" href="/contact">Contato</a> -->
        </div>
      </div>
      <div class="navbar-social">
        {% include social.html %}
      </div>
    </div>
  </nav>

  <main class="container-fluid container-border">
    <div class="row">
      <div class="col-4 aside-border">
        <aside class="mx-4">
          <div class="about">
            <div class="about-picture my-5">
              <a href="/"><img src="https://filipecrespodev.github.io/assets/img/filipe-crespo-avatar.png" alt="Filipe Crespo" height="100px"></a>
            </div>
            <h3 class="text-center mb-4">
              <a href="/about">Filipe Crespo</a>
            </h3>
            <!-- <p>Sou Filipe Crespo, tenho 27 anos, nascido em Portugal e criado no Brasil. Já atuei em diversas áreas do mercado brasileiro de TI. Hoje sou desenvolvedor Php, Ruby e JavaScript , além disso me arrisco em projetos com Python, Node e VueJS.</p> -->
            <pre>
              <span class="key_color">{</span>
                <span class="key_color">Idade:</span> <span class="value_color">27 anos,</span>
                <span class="key_color">Nascido:</span> <span class="value_color">Portugal,</span>
                <span class="key_color">Empresa:</span> <span class="value_color">Locaweb,</span>
                <span class="key_color">Skills:</span>  <span class="value_color">[
                  Php,
                  Ruby,
                  JavaScript,
                  Python,
                  Docker,
                ]</span>
              <span class="key_color">}<span></span>
            </pre>
          </div>
        </aside>
        <footer class="m-5">
          <div class="text-center">
            {% include social.html %}
          </div>
          <div class="copyright text-center">
            <small>2020 © Filipe Crespo</small>
          </div>
        </footer>
      </div>
      <div class="col-8 content-border">
        <div class="row mb-5 justify-content-center">
          {{ content }}
        </div>
      </div>
    </div>
  </main>
  {% include javascripts.html %}
</body>
</html>
